
@{
    ViewBag.Title = "VisualizarPacking";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-7">
                    <h2 class="tr" key="mantenedorpacking">Gestionar / Visualizar Packing</h2>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success tr" id="CrearPacking" key="botonagregarpacking">Agregar Packing</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <table id="Tb_Packing" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="tr" key="tablaidpacking">ID PACKING</th>
                                <th class="tr" key="tablanombre">NOMBRE</th>
                                <th class="tr" key="tablaciudad">CIUDAD</th>
                                <th class="tr" key="tablalatitud">LATITUD</th>
                                <th class="tr" key="tablalongitud">LONGITUD</th>
                                <th class="tr" key="tablaradio">RADIO</th>
                                <th class="tr" key="tablaestado">ESTADO</th>
                                <th class="tr" key="tablaopciones">OPCIONES</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para agregar datos-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left:80px; margin-right:10px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="Packing" class="col-sm-2 control-label">Packing (*)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="Packing" onkeyup="this.value = this.value.toUpperCase();">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Pais" class="alerta col-sm-2 control-label" key="paispacking">País (*)</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="Pais">
                                    <option value="0" selected>Seleccione País</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Ciudad" class="alerta col-sm-2 control-label" key="ciudadpacking">Ciudad (*)</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="Ciudad" disabled></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Latitud" class="alerta col-sm-2 control-label" key="latitud">Latitud</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="Latitud" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Longitud" class="alerta col-sm-2 control-label" key="longitud">Longitud</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="Longitud" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Radio" class="alerta col-sm-2 control-label" key="radio">Radio</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="Radio" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Estado" class="alerta col-sm-2 control-label" key="estado">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="Estado">
                                    <option value="0">Activo</option>
                                    <option value="1">Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success tr" id="IngresarInformacion" key="botonagregarpacking">Agregar Packing</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal para agregar datos-->

    <!--Modal para editar datos-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-left:80px; margin-right:10px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="width:100%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="PackingEditar" class="col-sm-2 control-label">Packing (*)</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="PackingEditar" onkeyup="this.value = this.value.toUpperCase();">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PaisEditar" class="alerta col-sm-2 control-label" key="paispacking">País (*)</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="PaisEditar">
                                    <option value="0" selected>Seleccione País</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CiudadEditar" class="alerta col-sm-2 control-label" key="ciudadpacking">Ciudad (*)</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="CiudadEditar" disabled></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LatitudEditar" class="alerta col-sm-2 control-label" key="latitud">Latitud</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="LatitudEditar" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LongitudEditar" class="alerta col-sm-2 control-label" key="longitud">Longitud</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="LongitudEditar" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="RadioEditar" class="alerta col-sm-2 control-label" key="radio">Radio</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="RadioEditar" onkeyup="this.value = this.value.toUpperCase();" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EstadoEditar" class="alerta col-sm-2 control-label" key="estado">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="EstadoEditar">
                                    <option value="0">Activo</option>
                                    <option value="1">Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success editar tr" id="EditarInformacion" key="botoneditarpacking">Editar Packing</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal para editar datos-->

    <input type="text" class="input form_control" id="idpacking" disabled="disabled" style="text-align:center; text-align-last:center;" hidden />
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="CrearPackingModal" style="display:none;"></button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2" id="EditarPackingModal" style="display:none;"></button>
</div>

<script>
    var lenguaje = document.cookie;

    //Botón Editar AntePuerto//
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPacking", "Packing")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                $('#Tb_Packing').show(500);
                for (var i = 0 ; i < cuenta ; i++) {
                    if (json[i].Activo == 0) {
                        var estado = 'Activo';
                    } else {
                        var estado = 'No Activo';
                    }
                    data.push([json[i].Id, json[i].Nombre.toUpperCase(), json[i].NombreCiudad.toUpperCase(), json[i].Latitud, json[i].Longitud, json[i].Radio, estado]);
                }
                if (lenguaje == "es") {
                    var table = $('#Tb_Packing').DataTable({
                        data: data,
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel'
                        ],
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                        },
                        fixedColumns: true,
                        "columnDefs": [{
                            "targets": -1,
                            "data": null,
                            "defaultContent": "<i class='fa fa-edit fa-2x' title='Editar Deposito'></i>"
                        }],
                        "rowCallback": function (row, data, index) {
                            if (data[0] == 0) {
                                $('td:eq(4)', row).html(' ');
                            }
                        }
                    });
                } else {
                    var table = $('#Tb_Packing').DataTable({
                        data: data,
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel'
                        ],
                        fixedColumns: true,
                        "columnDefs": [{
                            "targets": -1,
                            "data": null,
                            "defaultContent": "<i class='fa fa-edit fa-2x' title='Editar Deposito'></i>"
                        }],
                        "rowCallback": function (row, data, index) {
                            if (data[0] == 0) {
                                $('td:eq(4)', row).html(' ');
                            }
                        }
                    });
                }



                $('#Tb_Packing tbody').on('click', 'i', function () {
                    var data = table.row($(this).parents('tr')).data();

                    $("#PackingEditar").val(data[1]);
                    $("#PackingEditar").css("background-color", "rgba(255, 0, 0, 0)");
                    $('#PackingEditar').focus();

                    $("#PaisEditar").val(0);
                    $("#idpacking").val(data[0]);

                    $('#CiudadEditar').empty();
                    $('#CiudadEditar').prop('disabled', 'disabled');

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetPaisesActivos", "Paises")',
                        success: function (response) {
                            var data = [];
                            var json = JSON.parse(response);
                            var cuenta = json.length;
                            var optionsAsString = "";
                            $('#PaisEditar').empty();
                            for (var i = 0; i < cuenta; i++) {
                                optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + "</option>";
                            }
                            $('#PaisEditar').append(optionsAsString);
                        },
                    });

                    $("#PaisEditar").change(function () {
                        $('#CiudadEditar').removeAttr('disabled');
                        $("#CiudadEditar").css("background-color", "rgba(255, 0, 0, 0)");
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetCiudadesPais", "Ciudad")',
                            data: { IdPais: $("#PaisEditar").val() },
                            success: function (response) {
                                var data = [];
                                var json = JSON.parse(response);
                                var cuenta = json.length;
                                var optionsAsString = "";
                                $('#CiudadEditar').empty();
                                if (cuenta != 0) {
                                    for (var i = 0; i < cuenta; i++) {
                                        optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + "</option>";
                                    }
                                    $('#CiudadEditar').append(optionsAsString);
                                }
                            },
                        });
                    });
                    $('#EditarPackingModal').trigger('click');
                });
            },
        });
    });
    //Botón Editar AntePuerto//

    //boton crear packing//
    $("#CrearPacking").click(function () {
        $('#CrearPackingModal').trigger('click');
        $("#Packing").val("");
        $("#Packing").css("background-color", "rgba(255, 0, 0, 0)");
        $('#Packing').focus();

        $("#Pais").val(0);

        $('#Ciudad').empty();
        $('#Ciudad').prop('disabled', 'disabled');

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPaisesActivos", "Paises")',
            success: function (response) {
                var data = [];
                var json = JSON.parse(response);
                var cuenta = json.length;
                var optionsAsString = "";
                $('#Pais').empty();
                for (var i = 0; i < cuenta; i++) {
                    optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + "</option>";
                }
                $('#Pais').append(optionsAsString);
            },
        });

        $("#Pais").change(function () {
            $('#Ciudad').removeAttr('disabled');
            $("#Ciudad").css("background-color", "rgba(255, 0, 0, 0)");
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCiudadesPais", "Ciudad")',
                data: { IdPais: $("#Pais").val() },
                success: function (response) {
                    var data = [];
                    var json = JSON.parse(response);
                    var cuenta = json.length;
                    var optionsAsString = "";
                    $('#Ciudad').empty();
                    if (cuenta != 0) {
                        for (var i = 0; i < cuenta; i++) {
                            optionsAsString += "<option value='" + json[i].Id + "'>" + json[i].Nombre + "</option>";
                        }
                        $('#Ciudad').append(optionsAsString);
                    } else {
                        optionsAsString += "<option value='0'>Seleccione Ciudad</option>";
                        $('#Ciudad').empty();
                        $('#Ciudad').append(optionsAsString);
                        $('#Ciudad').prop('disabled', 'disabled');
                    }
                },
            });
        });
    });
    //boton crear packing//

    //Ingresar Información//
    $("#IngresarInformacion").click(function () {
        if ($("#Packing").val() != "") {
            $("#Packing").css("background-color", "rgba(255, 0, 0, 0)");
            if ($("#Ciudad").val() != null && $("#Ciudad").val() != 0) {
                $("#Ciudad").css("background-color", "rgba(255, 0, 0, 0)");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CrearPacking", "Packing")',
                    data: {
                        NombrePacking: $("#Packing").val(), IdCiudad: $("#Ciudad").val(), Estado: $("#Estado").val(),
                        Latitud: $("#Latitud").val(), Longitud: $("#Longitud").val(), Radio: $("#Radio").val()
                    },
                    success: function (response) {
                        var json = JSON.parse(response);
                        if (json.validador == 0) {
                            var aux = 'success';
                        } else {
                            var aux = 'warning';
                        }
                        swal({
                            title: '',
                            text: json.Mensaje,
                            type: aux,
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            location.reload();
                        })
                    }
                });
            } else {
                $("#Ciudad").css("background-color", "rgba(255, 0, 0, 0.4)");
            }
        } else {
            $("#Packing").css("background-color", "rgba(255, 0, 0, 0.4)");
        }
    });
    //Ingresar Información//

    //Editar Información//
    $("#EditarInformacion").click(function () {
        if ($("#PackingEditar").val() != "") {
            $("#PackingEditar").css("background-color", "rgba(255, 0, 0, 0)");
            if ($("#CiudadEditar").val() != null && $("#CiudadEditar").val() != 0) {
                $("#CiudadEditar").css("background-color", "rgba(255, 0, 0, 0)");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EditarPacking", "Packing")',
                        data: {
                            NombrePacking: $("#PackingEditar").val(), IdCiudad: $("#CiudadEditar").val(), Estado: $("#EstadoEditar").val(), IdPacking: $("#idpacking").val(),
                            Latitud: $("#LatitudEditar").val(), Longitud: $("#LongitudEditar").val(), Radio: $("#RadioEditar").val()
                        },
                        success: function (response) {
                            var json = JSON.parse(response);
                            if (json.validador == 0) {
                                var aux = 'success';
                            } else {
                                var aux = 'warning';
                            }
                            swal({
                                title: '',
                                text: json.Mensaje,
                                type: aux,
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Aceptar'
                            }).then((result) => {
                                location.reload();
                            })
                        }
                    });
            } else {
                $("#CiudadEditar").css("background-color", "rgba(255, 0, 0, 0.4)");
            }
        } else {
            $("#PackingEditar").css("background-color", "rgba(255, 0, 0, 0.4)");
        }
    });
    //Editar Información//
</script>

