
@{
    ViewBag.Title = "IngresarClaimServicio";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="row">
    @*<div class="col-md-12 col-sm-12 col-xs-12">*@
    <div class="x_panel">
        <div class="x_title">
            <h2>Ingresar Claim a Servicio <small></small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="FormControl" data-parsley-validate class="form-horizontal form-label-left">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-6">
                            Id Claim <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="id_claim" value="1" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_naviera" class="control-label col-md3 col-sm-3 col-xs-6">
                           Fecha Notificación  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="fecha_notificacion" name="fecha_notificacion" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Estado <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option selected>Seleccione un Estado</option>
                                <option value="1">PREVENTIVO</option>
                                <option value="2">ABIERTO</option>
                                <option value="3">CERRADO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Contenedor <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="contenedor"value="@ViewBag.Contenedor" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Naviera <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option value="0">Seleccione una Naviera</option>
                                <option value="1">MSC</option>
                                <option selected>CMA CGM</option>
                                <option value="3">HAPAG-LLOYD</option>
                                <option value="4">MAERSK</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Puerto de Origen <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option value="0">Seleccione un Puerto de Origen</option>
                                <option selected>SAN ANTONIO</option>
                                <option value="2">VALPARAISO</option>
                                <option value="3">CALLAO</option>
                                <option value="4">EL MANZANO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Puerto de Destino <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option value="0">Seleccione un Puerto de Destino</option>
                                <option value="1">ROTTERDAM</option>
                                <option selected>PHILADELPHIA</option>
                                <option value="3">LONG BEACH</option>
                                <option value="4">LOS ANGELES</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Viaje <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="viaje" value="@ViewBag.Viaje" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Controlador <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="controlador" value="@ViewBag.Controlador" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Commoditie <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option value="0">Seleccione un Commoditie</option>
                                <option selected>AVOCADOS</option>
                                <option value="2">CAROZOS</option>
                                <option value="3">BLUEBERRYS</option>
                                <option value="4">KIWIS</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Nave <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="nave" value="@ViewBag.Nave" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Service Provider <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option value="0">Seleccione un Service Provider</option>
                                <option value="1">NEPTUNIA</option>
                                <option value="2">TMM</option>
                                <option value="3">CONTAINER CARE</option>
                                <option selected>LIVENTUS</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Tecnología <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option value="0">Seleccione una tecnología</option>
                                <option selected>LIVENTUS</option>
                                <option value="2">TRANSFRESH</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Exportador <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="exportador" value="@ViewBag.Exportador" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Status Lab <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="status_lab" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            DOL <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="dol" name="dol" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Deadline <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="deadline" name="deadline" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Vigencia <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="vigencia" name="vigencia" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            C/S Gráfico <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="custom-select form-control col-md-7 col-xs-12">
                                <option value="0">Seleccione una opción</option>
                                <option selected>CON GRAFICO</option>
                                <option value="2">SIN GRAFICO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_exportador" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Service Report <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <input type="text" id="service_report" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label id="lb_viaje" class="control-label col-md-3 col-sm-3 col-xs-6">
                            Ubicacion fisica de archivos <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="ubicacion" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                        <button type="button" class="btn btn-success" onclick="ValidarFormulario()">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@*</div>*@

<script type="text/javascript">
    //Botón Agregar Servicio//
    $("#Agregar").click(function () {
        var valores = [];
        var i = 0;
        // Obtenemos todos los valores contenidos en los <td> de la fila
        // seleccionada
        $(this).parents("tr").find("td").each(function () {
            valores[i++] = $(this).html();
        });
        var url = '@Url.Action("IngresarClaimServicio", "Claim")?id=' + valores[0] + '&booking=' + valores[1] + '&naviera=' + valores[2] + '&nave=' + valores[3] + '&viaje=' + valores[4] + '&exportador=' + valores[5] + '&eta=' + valores[6] + '&iniciostacking=' + valores[7] + '&producto=' + valores[8] + '&porigen=' + valores[9] + '&pdestino=' + valores[10] + '&co2=' + valores[11] + '&o2=' + valores[12] + '&temperatura=' + valores[13] + '&tecnologia=' + valores[14];
        window.location.href = url;
    });
    //Botón Agregar Servicio//

    function MostrarIngresoServicio()
    {
        var Booking = $("#booking").val();
        var Viaje = $("#viaje").val();

        //if (Booking == "") {
        //    swal('Error...', 'Campo Booking Obligatorio', 'error')
        //} else if (Nave == "") {
        //    swal('Error...', 'Campo Viaje Obligatorio', 'error')
        //}

        document.getElementById("lb_contenedor").style.visibility = "visible";
        document.getElementById("contenedor").style.visibility = "visible";
        document.getElementById("lb_fecha_servicio").style.visibility = "visible";
        document.getElementById("fecha_servicio").style.visibility = "visible";
        document.getElementById("lb_hora_llegada").style.visibility = "visible";
        document.getElementById("hora_llegada").style.visibility = "visible";
    }

    function ValidarFormulario() {
        var Booking = $("#booking").val();
        var Contenedor = $("#contenedor").val();
        var Viaje = $("#viaje").val();
        var FechaServicio = $("#fecha_servicio").val();
        var HoraLlegada = $("#hora_llegada").val();

        if (Booking == "") {
            swal('Error...', 'Campo Booking Obligatorio', 'error')
        } else if (Contenedor == "") {
            swal('Error...', 'Campo Contenedor Obligatorio', 'error')
        } else if (Viaje == "") {
            swal('Error...', 'Campo Viaje Obligatorio', 'error')
        } else if (FechaServicio == "") {
            swal('Error...', 'Campo Fecha Servicio Obligatorio', 'error')
        } else if (HoraLlegada == "") {
            swal('Error...', 'Campo Hora Llegada Obligatorio', 'error')
        }

        $.ajax({
            type: "POST",
            url: "/Reservas/IngresarDatos",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                Booking: Booking,
                Nave: Nave,
                Naviera: Naviera,
                Exportador: Exportador,
                Producto: Producto,
                Destino: Destino,
                Origen: Origen,
                Viaje: Viaje,
                FechaArribo: Eta,
                FechaSalida: Etd,
                CantidadCO: CantidadCo,
                CantidadO: CantiadO,
                Temperatura: Temperatura,
                Tamano: Tamano
            },
            success: function (d) {
                if (d.success == true)
                    alert('Has introducido un nuevo coche!!');
                else { }
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Error!!');
            }
        });
    }

    $(function () {
        $("#fecha_notificacion").datepicker({
            dateFormat: "dd-mm-yy",
            firstDay: 1,
            dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
            monthNames:
                ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthNamesShort:
                ["Ene", "Feb", "Mar", "Abr", "May", "Jun",
                "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
        });

        $("#dol").datepicker({
            dateFormat: "dd-mm-yy",
            firstDay: 1,
            dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
            monthNames:
                ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthNamesShort:
                ["Ene", "Feb", "Mar", "Abr", "May", "Jun",
                "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
        });

        $("#deadline").datepicker({
            dateFormat: "dd-mm-yy",
            firstDay: 1,
            dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
            dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
            monthNames:
                ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio",
                "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthNamesShort:
                ["Ene", "Feb", "Mar", "Abr", "May", "Jun",
                "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
        });
    });
</script>

